// define default text-styling here
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-purple {
    color: $purple;
}
.bold {
    font-weight: bold;
}

.w-no-wrap {
    white-space: nowrap;
}

@mixin roboto() {
  font-family: 'Roboto Mono', monospace !important;
}
body {
    @include roboto();
}
