.comment-modal-header {
  text-align: center;
}

.comment-modal-btn {
  background-color: #00baff;
  margin-top: 20px;
  margin-left: 30px;
}

.comment-modal {
  // margin: auto;
  // background-color: #00baff;
  // backgroundImage: "url(" + imgUrl + ")");

  .comment-box {
    // display: inline-block;
    // position: absolute;
    width: 100%;
  }
}

.comment-box-wrapper {
  border: 1px solid #999999;
  margin: 5px 0;
  padding: 3px;
  // width: 100%;
}
