.browse {
    .card {
        height: 200px;
        width: 95%;
        animation: fade-in 1s;
        position: relative;
        &:hover {
            .card-overlay {
                height: 100%;
                opacity: 1;
                transform: translateY(0);
            }
        }
        @include xlarge {
            width: 500px;
            height: 250px;
            margin-left: 50px;
            margin-right: 50px;
        }
    }
    .card-overlay {
        color: white;
        position: absolute;
        z-index:999;
        background-color: rgba(0, 0, 0, 0.808);
        height: 0px;
        bottom: 0px;
        left:0;
        opacity: 1;
        transition: all .5s ease-in-out;
        overflow: hidden;
        .button {
            width: 200px !important;
            box-shadow: none;
        }
    }
}