.modal-content {
    background: #F8F8F8 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 5px 50px #00000033;
    padding-bottom: 18px;
    input {
        width: 100%;
        @include large() {
            width: 60%;
        }
        margin: 15px auto;
    }
}

.modal-dialog {
    max-width: 550px !important;
}