#create-blog {
  & Button {
    margin-left: 40vw;
    margin-top: 20px;
    // width: 50%;
  }
  & Modal {
    & ModalHeader {
      text-align: center;
    }
    & .modal-header {
      text-align: center;
    }
    & ModalBody {
    }
  }
}
