.profile {
  input {
    font-size: 55px;
    font-weight: 1000;
    outline: none;
    border: none;
  }
  img {
    width: 200px;
    border-radius: 50%;
  }
  h1 {
    font-size: 55px;
    font-weight: 1000;
  }
  span {
      font-size: 24px;
      color: $gray;
  }
}
